{%extends 'Software/adminBase.html'%} {%block title%}

<title>Oficina | Página não encontrada</title>{%endblock%} 


{%block body%}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Erro 404</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Erro 404</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Página não encontrada.</h3>

          <p>
            Não é possível encontrar esta página.
            Pode voltar para a <a href="/">página inicial</a> ou voltar <a  href="#" onclick="goBack()">atrás</a>.
          </p>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
    <script>
    function goBack() {
      window.history.back();
    }
</script>
  {%endblock%}
