{%extends 'Software/adminBase.html'%} {%block title%}

<title>Oficina | Lista Clientes</title>{%endblock%} 


{%block body%}

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Lista Clientes</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/admindashboard">Home</a></li>
                                <li class="breadcrumb-item active">Lista de Clientes</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
                {% with messages = get_flashed_messages(with_categories = true) %}
                    {% for category, message in messages %}
                    <div class="card card-{{category}}">
                        <div class="card-header">
                            <center>{{message}}</center>    
                        </div>
                    </div>
                    {% endfor %}
                {% endwith %}
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nome</th>
                                                <th>Morada</th>
                                                <th>CC</th>
                                                <th>NIF</th>
                                                <th>Telefone</th>
                                                <th>Email</th>
                                                
                                                <th>Opções</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for client in clients%}

                                        <tr>
                                            <td>{{ client.id }}</td>
                                            <td>{{ client.nome }}</td>
                                            <td>{{ client.morada }}</td>
                                            <td>{{ client.cc }}</td>
                                            <td>{{ client.nif }}</td>
                                            <td>{{ client.telefone }}</td>
                                            <td>{{ client.email }}</td>
                                            
                                            
                                            <td>
                                                <center>
                                                    <a href="/admindashboard/client/{{ client.id }}" class="btn btn-info btn-circle btn-sm">
                                                    <i class="fas fa-info-circle"></i>
                                                    </a>&nbsp;&nbsp;

                                                    {% if current_user.cargo != 'Empregado'%}
                                                        <a href="/delete/client/{{ client.id }}" class="btn btn-danger btn-circle btn-sm">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    {% endif %}
                                                </center>
                                            </td>
                                        </tr>
                                        
                                        {%endfor%}
                                            
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Nome</th>
                                                <th>Morada</th>
                                                <th>CC</th>
                                                <th>NIF</th>
                                                <th>Telefone</th>
                                                <th>Email</th>
                                                
                                                <th>Opções</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {%endblock%}
        